<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title><%= title%></title>
</head>
<body>
    <div class="container">
        <h1>Tipos de dispositivo</h1>

        <form action="/addDevice" method="post">
            <label>Tipo</label>
            <div class="form-group">
                <input type="text" name="typeDevice" id="typeid">
            </div>

            <label>Descripción</label><br>
            <div class="form-group">
                <input type="text" name="descType">
            </div>
            <button class="btn btn-success">Add</button>
        </form>
        <hr>
    </div>

<script>
    document.getElementById("typeid").focus();

</script>

</body>
</html>
